.app {
  text-align: center;
  align-items: center;
}

.app-header {
  width: 100%;
  color: #ffffff;
  background-color: #4b9cd3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #4b9cd3;
}

h2 {
  color: #4b9cd3;
  font-size: 38px;
}
.location-slogan {
  font-style: italic;
  color: #73c2fb;
  font-size: 22px;
  font-weight: bold;
}

li {
  color: #73c2fb;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

h3 {
  color: #4b9cd3;
  font-size: 38px;
}

.footer {
  background-color: #3662d8;
  width: 100%;
  height: 100px;
}

hr {
  color: #4b9cd3;
  border: none;
  height: 20px;

  background-color: #4b9cd3; /* Modern Browsers */
}
